{% extends 'ausys/base.html' %}

{% block content %}
    <center>
        <h1>Neighbours</h1>
        <br/>
        <br/>
    <table class="table" style="width: 50%; float:left">
  <thead>
    <tr>
      <th scope="col">№</th>
      <th scope="col">ASN</th>
    </tr>
  </thead>
  <tbody>
  {% for i in asns%}
    <tr>
      <td>{{ i.id }}</td>
      <td><a href="{% url 'show_neighbours' i.id %}">{{ i.autosys }}</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{#        <table class="table" style="width: 50%">#}
{#  <thead>#}
{#    <tr>#}
{#      <th scope="col">Names</th>#}
{#    </tr>#}
{#  </thead>#}
{#  <tbody>#}
{#  {% for j in data2%}#}
{#    <tr>#}
{#      <td>{{ j }}</td>#}
{#    </tr>#}
{#  {% endfor %}#}
{#  </tbody>#}
{#</table>#}

    </center>

{% endblock %}